In this notebook was trying to connect [this dataset, the our world in data one](https://ourworldindata.org/coronavirus-source-data) and some random country dataset that has the continent names. 

The data is in a csv, started making tools here to use.

Needs pandas.

In [2]:
import pandas as pd

In [ ]:
covid = pd.read_csv('full_data.csv')

In [ ]:
covid.head()

In [ ]:
world = covid[covid['location'] == 'World']

In [ ]:
world.iloc[-1][0]

In [7]:
def read_in_data():
    import pandas as pd
    covid_dataset = pd.read_csv('full_data.csv')
    return covid_dataset


def get_country_set(country, dataset):
    """
    returns data table on specified
    country
    """
    
    country = country.title()
    return dataset[dataset['location'] == country]

In [9]:
covid = read_in_data()
covid.head()

         date     location  new_cases  new_deaths  total_cases  total_deaths
0  2019-12-31  Afghanistan          0           0            0             0
1  2020-01-01  Afghanistan          0           0            0             0
2  2020-01-02  Afghanistan          0           0            0             0
3  2020-01-03  Afghanistan          0           0            0             0
4  2020-01-04  Afghanistan          0           0            0             0

In [10]:
test_set = read_in_data()

In [1]:
continent_country_set = pd.read_csv('country-and-continent-codes-list-csv_csv.csv')
# dataset I found..link to come later.

NameError: name 'pd' is not defined

In [11]:
continent_country_set

,Continent_Name,Continent_Code,Country_Name,Two_Letter_Country_Code,Three_Letter_Country_Code,Country_Number
0,Asia,AS,"Afghanistan, Islamic Republic of",AF,AFG,4.0
1,Europe,EU,"Albania, Republic of",AL,ALB,8.0
2,Antarctica,AN,Antarctica (the territory South of 60 deg S),AQ,ATA,10.0
3,Africa,AF,"Algeria, People's Democratic Republic of",DZ,DZA,12.0
4,Oceania,OC,American Samoa,AS,ASM,16.0
...,...,...,...,...,...,...
257,Africa,AF,"Zambia, Republic of",ZM,ZMB,894.0
258,Oceania,OC,Disputed Territory,XX,NaN,NaN
259,Asia,AS,Iraq-Saudi Arabia Neutral Zone,XE,NaN,NaN
260,Asia,AS,United Nations Neutral Zone,XD,NaN,NaN
261,Asia,AS,Spratly Islands,XS,NaN,NaN

In [22]:
test_country_name_series = continent_country_set['Country_Name'].str.split(',')

In [35]:
country_list = []
for i in range(len(test_country_name_series)):
    country_list.append(test_country_name_series[i][0])

In [41]:
len(list(covid['location'].unique())), len(country_list)
# number of countries that are listed with covid infection compared to total list of countries

(156, 262)

In [55]:
for i in country_list:
    i.replace('Antarctica (the territory South of 60 deg S)', 'Antarctica')

In [56]:
country_continent_dict = dict(zip(country_list, continent_country_set['Continent_Name']))

In [61]:
country_continent_dict['Antarctica (the territory South of 60 deg S)']

'Antarctica'